
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: #00030C;
}

.titulo{
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
}
.principal{
    background-image: url(./assets/Background.png);
    height: 100vh;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}
.combo{
    margin: 2rem 0 2rem 0;
    
    
}
.caixa{
    margin: 0 4rem;
    
}
.link_alura{
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #167BF7;
    border-radius: 1rem;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
}
.link_alura_secundario{
    text-decoration: none;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
   border: 2px solid #FFF;
    border-radius: 1rem;
    padding: 1rem;
    display: block;
    margin-bottom: 0.5rem;
}
.aviso{
    color: #C0C0C0;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
}

.secundaria{
    display: flex;
    align-items: center;
    
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 10%;

}
.computador{
    margin: 4rem;
    width: 60%;

}

.titulo_secundario{
    font-family: 'Inter', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #FFF;
    margin-bottom: 0.5rem;
}

.descricao_paragrafo{
    color: #FFF;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.terciaria{
    
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: auto;
}

.terceiro_paragrafo{
    color: #FFF;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 2rem;
}
.terceiro_link{
    display: inline-block;
}
.sub_parte_tres{
    margin-left: 10rem;

}
.terceira_imagem{
    margin: 4rem;
    width: 60%;
}

.quarta{
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10%;
}

.quarto_texto{
    color: #FFF;
    font-family: 'Inter', sans-serif;
}
.quarta_imagem{
    width: 90%;
}
.quarto_titulo{
    font-weight: 700;
    font-size: 3rem;
}
.quarto_subtitulo{
    font-weight: 400;
    font-size: 1rem;
}
.dispositivos{
    text-align: center;

}
.dispositivos_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.dispositivos_titulo{
    font-size: 3rem;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    margin-bottom: 3%;
}
.dispositivos_lista_item{
    
    color: #FFF;
    font-family: 'Inter', sans-serif;
    line-height: 120%;
    font-size: 2rem;
}
footer{
    font-family: 'Inter', sans-serif;
    color: #FFF;
    text-align: center;
    margin: 5em 3em;
}

.rodape_lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;

}
.lista_link a{
    text-decoration: none;
    color: #FFF;
    margin-left: 1em;
    font-weight: 400;
}

.paragrafo_rodape{
    margin: 1em 0;
    color: #C0C0C0;
    font-size: 0.9rem;
    font-weight: 300;
}
.paragrafo_um_rodape{
    margin-top: 2rem;
    margin-bottom: 1rem;
}